node-red/flows.json
[{"id":"d35bbd93.20f0a","type":"tab","label":"QCM Controller","disabled":false,"info":""},{"id":"9e9aa2fb.f9415","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f08753b8.c5316","type":"mqtt-broker","z":"","name":"xeon","broker":"10.131.72.83","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1c277a8f.9246c5","type":"serial request","z":"d35bbd93.20f0a","name":"qcm","serial":"9e9aa2fb.f9415","x":830,"y":100,"wires":[["3e1b29a0.e3da26"]]},{"id":"e5b9a8d0.ef6ff8","type":"mqtt out","z":"d35bbd93.20f0a","name":"","topic":"qcm/out","qos":"","retain":"","broker":"f08753b8.c5316","x":1120,"y":320,"wires":[]},{"id":"9d42d39d.e0424","type":"mqtt in","z":"d35bbd93.20f0a","name":"","topic":"qcm/in","qos":"2","datatype":"auto","broker":"f08753b8.c5316","x":90,"y":320,"wires":[["7303467f.f24148"]]},{"id":"e15ea31b.1a4cf","type":"function","z":"d35bbd93.20f0a","name":"send commands","func":"let command = msg.payload.command;\n\nswitch (command) {\n    case \"start\":\n        context.set(\"repeater\", setInterval(sendMsg, 3000));\n        break;\n    case \"stop\":\n        clearInterval(context.get(\"repeater\"));\n        break;\n    default:\n        clearInterval(context.get(\"repeater\"));\n}\n\nfunction sendMsg() {\n    msg.payload = Buffer(\"F\\r\\n\");\n    msg.topic = \"frequency\";\n    node.send(msg);\n    \n    msg.payload = Buffer(\"R\\r\\n\");\n    msg.topic = \"resistance\";\n    node.send(msg);\n}","outputs":1,"noerr":0,"x":420,"y":100,"wires":[["5249f75c.9b98c8"]]},{"id":"5249f75c.9b98c8","type":"delay","z":"d35bbd93.20f0a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":100,"wires":[["1c277a8f.9246c5"]]},{"id":"7303467f.f24148","type":"function","z":"d35bbd93.20f0a","name":"parse JSON","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["4009d18.4ecf43"]]},{"id":"4009d18.4ecf43","type":"function","z":"d35bbd93.20f0a","name":"validate credentials","func":"if (msg.payload.command == \"login\") {\n    flow.set(\"userName\", msg.payload.value.userName);\n    flow.set(\"password\", msg.payload.value.password);\n    msg.payload = {\"status\": \"login successful\"};\n    return [null, msg];\n}\nelse if (msg.payload.userName != flow.get(\"userName\") || msg.payload.password != flow.get(\"password\")) {\n    msg.payload = {\"status\": \"invalid user name or password\"};\n    return [null, msg];  \n}\nelse {\n    node.send([msg, null]);\n    msg.payload = {\"status\": \"Command \" + msg.payload.command + \" received.\"};\n    node.send([null, msg]);\n}","outputs":2,"noerr":0,"x":450,"y":320,"wires":[["708b0dd0.f94514"],["5089dc4.5f86624"]]},{"id":"8c6a711.da3479","type":"inject","z":"d35bbd93.20f0a","name":"stop","topic":"","payload":"{\"command\": \"stop\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":640,"wires":[["a3414c6a.481ba"]]},{"id":"cb850791.5f16a8","type":"inject","z":"d35bbd93.20f0a","name":"start","topic":"","payload":"{\"command\": \"start\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":600,"wires":[["a3414c6a.481ba"]]},{"id":"42ec66e5.38b658","type":"link in","z":"d35bbd93.20f0a","name":"serial in","links":["a3414c6a.481ba","708b0dd0.f94514"],"x":275,"y":100,"wires":[["e15ea31b.1a4cf"]]},{"id":"2998623c.e8f76e","type":"link out","z":"d35bbd93.20f0a","name":"serial out","links":["3ae07cd5.442234"],"x":1135,"y":100,"wires":[]},{"id":"92b3164e.2eed08","type":"comment","z":"d35bbd93.20f0a","name":"QCM","info":"","x":490,"y":40,"wires":[]},{"id":"c8a66f60.4b286","type":"comment","z":"d35bbd93.20f0a","name":"check","info":"","x":90,"y":560,"wires":[]},{"id":"a3414c6a.481ba","type":"link out","z":"d35bbd93.20f0a","name":"check","links":["42ec66e5.38b658"],"x":215,"y":620,"wires":[]},{"id":"708b0dd0.f94514","type":"link out","z":"d35bbd93.20f0a","name":"commands","links":["42ec66e5.38b658"],"x":595,"y":300,"wires":[]},{"id":"f57ca90c.1c7ed8","type":"comment","z":"d35bbd93.20f0a","name":"commands","info":"","x":100,"y":280,"wires":[]},{"id":"5089dc4.5f86624","type":"link out","z":"d35bbd93.20f0a","name":"error","links":["3ae07cd5.442234"],"x":595,"y":360,"wires":[]},{"id":"3ae07cd5.442234","type":"link in","z":"d35bbd93.20f0a","name":"to MQTT","links":["5089dc4.5f86624","2998623c.e8f76e"],"x":975,"y":320,"wires":[["e5b9a8d0.ef6ff8"]]},{"id":"24ec2ab.2b79cd6","type":"inject","z":"d35bbd93.20f0a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":740,"wires":[["5ec18e76.7466c"]]},{"id":"5ec18e76.7466c","type":"function","z":"d35bbd93.20f0a","name":"get credentials","func":"msg.payload = {\n    \"userName\": flow.get(\"userName\"),\n    \"password\": flow.get(\"password\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":740,"wires":[["6d8f8ed8.e4c28"]]},{"id":"a6b64903.1d9928","type":"comment","z":"d35bbd93.20f0a","name":"check credentials","info":"","x":140,"y":700,"wires":[]},{"id":"6d8f8ed8.e4c28","type":"debug","z":"d35bbd93.20f0a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":740,"wires":[]},{"id":"3e1b29a0.e3da26","type":"function","z":"d35bbd93.20f0a","name":"format response","func":"msg.payload = {\n    \"data\": {\n        \"name\": msg.topic,\n        \"value\": msg.payload.toString(\"utf-8\")\n    }\n};\nnode.send(msg);\n\nlet time = new Date;\nmsg.payload = {\"status\": \"Last data point received: \" + time.getHours()+\":\"+time.getMinutes()+\":\"+time.getSeconds()};\nnode.send(msg);","outputs":1,"noerr":0,"x":1000,"y":100,"wires":[["2998623c.e8f76e"]]}]