node-red/flows.json
[{"id":"4fb16ea1.f8c3f","type":"tab","label":"PostgreSQL","disabled":false,"info":""},{"id":"f3e2873c.7a8fe8","type":"inject","z":"4fb16ea1.f8c3f","name":"data trigger","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"","x":277.0000305175781,"y":379.00000858306885,"wires":[["13de878b.7c8a78"]]},{"id":"4ee9515a.155ba","type":"function","z":"4fb16ea1.f8c3f","name":"prepare query","func":"msg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'insert into mytable (timestamp, username, experiment, value) values ($1, $2, $3, $4)',\n        params: [msg.payload[\"timestamp\"], msg.payload[\"username\"], msg.payload[\"experiment\"], msg.payload[\"value\"]],\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'commit',\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":380,"wires":[[]]},{"id":"1ca80544.2a735b","type":"postgres","z":"4fb16ea1.f8c3f","postgresdb":"11b9850d.964dfb","name":"mydatabase","output":true,"outputs":1,"x":970,"y":380,"wires":[[]]},{"id":"13de878b.7c8a78","type":"function","z":"4fb16ea1.f8c3f","name":"create data point","func":"msg.payload = {\n    \"timestamp\": Math.floor(Date.now()/1000),\n    \"username\": \"Brent Maranzano\",\n    \"experiment\": \"test\",\n    \"value\": Math.floor(Math.random()*1000+10000)\n};\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":380,"wires":[["4ee9515a.155ba"]]},{"id":"11b9850d.964dfb","type":"postgresdb","z":"","hostname":"postgres","port":"5432","db":"mydatabase","ssl":false}]
