node-red/flows.json
[{"id":"e4d1ab07.0e2f88","type":"tab","label":"chiller status check","disabled":false,"info":""},{"id":"dff35071.aba68","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"S","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"1000","bin":"false","out":"interbyte","addchar":"","responsetimeout":"1000"},{"id":"3b0d68ae.3c7c58","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"300","bin":"false","out":"time","addchar":"\\r","responsetimeout":"300"},{"id":"502cb4b1.a3ee6c","type":"ui_tab","z":"","name":"Process Safety Equipment Charts","icon":"dashboard","disabled":false,"hidden":false},{"id":"ced3172c.609d68","type":"ui_group","z":"","name":"Huber","tab":"502cb4b1.a3ee6c","disp":true,"width":"6","collapse":false},{"id":"aa250bb5.0c5068","type":"serial request","z":"e4d1ab07.0e2f88","name":"chiller","serial":"dff35071.aba68","x":450,"y":160,"wires":[["17489e36.847782","989454ea.a7dbd8"]]},{"id":"1a565c39.20cd84","type":"inject","z":"e4d1ab07.0e2f88","name":"timer","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"1","x":130,"y":160,"wires":[["88b61ea7.7c4bc"]]},{"id":"88b61ea7.7c4bc","type":"function","z":"e4d1ab07.0e2f88","name":"command","func":"msg.payload = \"SP?\\r\\n\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":160,"wires":[["aa250bb5.0c5068"]]},{"id":"17489e36.847782","type":"mqtt out","z":"e4d1ab07.0e2f88","name":"","topic":"","qos":"","retain":"","x":610,"y":160,"wires":[]},{"id":"68703e86.eaeb3","type":"ui_chart","z":"e4d1ab07.0e2f88","name":"Temperature","group":"ced3172c.609d68","order":0,"width":0,"height":0,"label":"Set Point","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":100,"wires":[[]]},{"id":"989454ea.a7dbd8","type":"function","z":"e4d1ab07.0e2f88","name":"format","func":"msg.payload = Number(msg.payload.slice(4, 7)) + Number(msg.payload.slice(7, 9));\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["68703e86.eaeb3"]]}]